.combi>p{
    color: red;
}
.combi h2+p{
    font-size: 50px;
    color: blue;
}
.combi div~p{
    font-weight: bold;
}

.anchor a:link{
    color: brown;
}
.anchor a:hover{
    color: blue;
}
.anchor a:active{
    color: chartreuse;
}
.anchor a:visited{
    color: chocolate;
}
ul li:first-child p{
   color: red;
}
ul li:last-child p{
    color: blue;
}
ul li:nth-child(3){
    color:forestgreen;
}
p i:first-child{
    font-weight: bold;
    font-size: 40px;
}
p i:last-child{
    color: crimson;
}
input:focus{
    outline: none;
    border:2px solid brown;
}